footer {
    margin-top: 10em;
    text-align: center;
}

.lista__links {
    display: flex;
    justify-content: center;
 
}

.lista__links-item {
margin: 3em 1em 0 1em;
}

.lista__links-item  a {
    text-decoration: none;
    color: var(--cinza-secundario);
}

.footer_descricao {
    margin: 1em 1em 5em 1em;
    line-height: 2em;
    color: var(--cinza-secundario);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

